{% extends 'base.html.twig' %}

{% block title %}Galleries test{% endblock %}


{% block body %}
    <h4>Rooms</h4>
    <!-- in the <head> section -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
    <!-- before the closing <body> tag -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <!-- Insert this where you want the table to appear -->
    <div class="table table-bordered table-hover table-striped mb-4" id="presidents5">Loading...</div>
    <a class="btn-outline-primary" href="{{ path('room_new') }}">ADD NEW</a>







    <!-- Insert this at the end of your body element, but before the closing tag -->
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function() {
            $('#presidents5').initDataTables({{ datatable_settings(datatable5) }}, { searching: true,});

        });




    </script>


{% endblock %}