{% extends 'base.html.twig' %}

{% block title %}Edit Gallery{% endblock %}

{% block body %}
<h4 class="widget-header">Edit Gallery</h4>
<div class="col-lg-6 col-12 mx-auto">
    {{ include('gallery/_form.html.twig', {'button_label': 'Update'}) }}
</div>
    <a href="{{ path('gallery_index') }}">back to list</a>

    {{ include('gallery/_delete_form.html.twig') }}
{% endblock %}
