{% extends 'front.html.twig' %}

{% block title %}New ReservationHotel{% endblock %}

{% block body %}
<div class="content-body h-100 row align-items-center center" style="height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;" >

    <div class="col text-center center" style="width: 20vw;" >
        <h4>BOOK A ROOM</h4>
        <div class="">


            <div class="" id="t">


    {{ include('reservation_hotel/form2.html.twig') }}


            </div>
        </div>
    </div>



{% endblock %}
