{% extends 'front.html.twig' %}

{% block title %}New ReservationHotel{% endblock %}

{% block body %}
<div class="content-body" ">
    <div class="container col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4" style="width: 100vw;">
        <div class="">


            <div class="" id="t">
    <h1>Reserve your room in the hotel:</h1>

    {{ include('reservation_hotel/form2.html.twig') }}


            </div>
        </div>
    </div>



{% endblock %}
