<!DOCTYPE html>
<html>

<head>
    <title>Suntour</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/front/css/reset.css">
    <link rel="stylesheet" href="/front/css/bootstrap.css">
    <link rel="stylesheet" href="/front/css/font-awesome.css">
    <link rel="stylesheet" href="/front/css/owl.carousel.css">
    <link rel="stylesheet" href="/front/css/jquery.fancybox.css">
    <link rel="stylesheet" href="/front/fonts/fi/flaticon.css">
    <link rel="stylesheet" href="/front/css/flexslider.css">
    <link rel="stylesheet" href="/front/css/main.css">
    <link rel="stylesheet" href="/front/css/indent.css">
    <link rel="stylesheet" href="/front/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="/front/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="/front/rs-plugin/css/navigation.css">
    <link rel="stylesheet" href="/front/tuner/css/colorpicker.css">
    <link rel="stylesheet" href="/front/tuner/css/styles.css">
</head>
<body>
<!-- header page-->
<header>
    <!-- site top panel-->
    <div class="site-top-panel">
        <div class="container p-relative">
            <div class="row">
                <div class="col-md-6 col-sm-7">
                    <!-- lang select wrapper-->
                    <div class="top-left-wrap font-3">
                        <div class="mail-top"><a href="/front/mailto:support.suntour@example.com"> <i class="flaticon-suntour-email"></i>suntour@example.com</a></div><span>/</span>
                        <div class="tel-top"><a href="/front/tel:(723)-700-1183"> <i class="flaticon-suntour-phone"></i>(723)-700-1183</a></div>
                    </div>
                    <!-- ! lang select wrapper-->
                </div>
                <div class="col-md-6 col-sm-5 text-right">
                    <div class="top-right-wrap">
                        <div class="top-login"><a href="/front/#">My Account</a></div>
                        <div class="curr-wrap dropdown">
                            <div>
                                <ul>
                                    <li><a href="/front/#" class="lang-sel icl-en">Currency<i class="fa fa-angle-down"></i></a>
                                        <ul>
                                            <li><a href="/front/#">USD</a></li>
                                            <li><a href="/front/#">EUR</a></li>
                                            <li> <a href="/front/#">GBP</a></li>
                                            <li> <a href="/front/#">AUD</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="lang-wrap dropdown">
                            <div>
                                <ul>
                                    <li><a href="/front/#" class="lang-sel icl-en">Language <i class="fa fa-angle-down"></i></a>
                                        <ul>
                                            <li><a href="/front/#">English</a></li>
                                            <li> <a href="/front/#">Deutsch</a></li>
                                            <li> <a href="/front/#">Espanol</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ! site top panel-->
    <!-- Navigation panel-->
    <nav class="main-nav js-stick">
        <div class="full-wrapper relative clearfix container">
            <!-- Logo ( * your text or image into link tag *)-->
            <div class="nav-logo-wrap local-scroll"><a href="/front/index-2.html" class="logo"><img src="/front/img/logo.png"  alt></a></div>
            <!-- Main Menu-->
            <div class="inner-nav desktop-nav">
                <ul class="clearlist">
                    <!-- Item With Sub-->
                    <li><a href="/front" class="mn-has-sub active">Home </a>
                    </li>
                    <!-- End Item With Sub-->
                    <li class="slash">/</li>
                    <!-- Item With Sub-->
                    <li><a href="/hotels" class="mn-has-sub active">Hotels </a>
                    </li>
                    <!-- End Item With Sub-->
                    <li class="slash">/</li>
                    <!-- Item With Sub-->
                    <li class="megamenu"><a href="/front/page-about-us.html" class="mn-has-sub">Pages <i class="fa fa-angle-down button_open"></i></a>
                        <!-- Sub-->
                        <ul class="mn-sub mn-has-multi">
                            <li class="mn-sub-multi"><a class="mn-group-title">Pages</a>
                                <ul>
                                    <li><a href="/front/page-about-us.html">About Us</a></li>
                                    <li><a href="/front/page-services.html">Services</a></li>
                                    <li><a href="/front/page-procces.html">Our Procces</a></li>
                                    <li><a href="/front/page-our-team.html">Our Team</a></li>
                                    <li><a href="/front/page-profile.html">Profile</a></li>
                                    <li><a href="/front/page-elements.html">Elements</a></li>
                                </ul>
                            </li>
                            <li class="mn-sub-multi"><a class="mn-group-title">Portfolio</a>
                                <ul>
                                    <li><a href="/front/portfolio-3-col.html">Three Columns</a></li>
                                    <li><a href="/front/portfolio-4-col.html">Four Columns</a></li>
                                    <li><a href="/front/portfolio-masonry.html">Portfolio Masonry</a></li>
                                    <li><a href="/front/portfolio-with-sidebar.html">With Sidebar</a></li>
                                    <li><a href="/front/portfolio-gallery.html">Gallery</a></li>
                                    <li><a href="/front/page-portfolio-single.html">Portfolio Single</a></li>
                                </ul>
                            </li>
                            <li class="mn-sub-multi"><a class="mn-group-title">Blog</a>
                                <ul>
                                    <li><a href="/front/blog-2-col-sidebar.html">Two Columns + Sidebar</a></li>
                                    <li><a href="/front/blog-3-col.html">Three Columns</a></li>
                                    <li><a href="/front/blog-4-col.html">Four Columns</a></li>
                                    <li><a href="/front/blog-single.html">Blog Single</a></li>
                                    <li><a href="/front/blog-grid.html">Blog Grid</a></li>
                                    <li><a href="/front/blog-list.html">Blog List</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- End Sub-->
                    </li>
                    <!-- End Item With Sub-->
                    <!-- span /-->
                    <!-- Item With Sub-->
                    <!-- End Item With Sub-->
                    <li class="slash">/</li>
                    <!-- Item With Sub-->
                    <li><a href="/front/shop-grid.html" class="mn-has-sub">Shop <i class="fa fa-angle-down button_open"></i></a>
                        <!-- Sub-->
                        <ul class="mn-sub">
                            <li><a href="/front/shop-grid.html">Shop Grid</a></li>
                            <li><a href="/front/shop-cart.html">Shop Cart</a></li>
                            <li><a href="/front/shop-checkout.html">Shop Checkout</a></li>
                            <li><a href="/front/shop-single.html">Shop Single Product</a></li>
                        </ul>
                        <!-- End Sub-->
                    </li>
                    <!-- End Item With Sub-->
                    <li class="slash">/</li>
                    <!-- Item-->
                    <li><a href="/front/page-contact.html">Contact</a></li>
                    <!-- End Item-->
                    <!-- Search-->
                    <li class="search"><a href="/front/#" class="mn-has-sub">Search</a>
                        <ul class="search-sub">
                            <li>
                                <div class="container">
                                    <div class="mn-wrap">
                                        <form method="post" class="form">
                                            <div class="search-wrap">
                                                <input type="text" placeholder="Where will you go next?" class="form-control search-field"><i class="flaticon-suntour-search search-icon"></i>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="close-button"><span>Search</span></div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- End Search-->
                </ul>
            </div>
            <!-- End Main Menu-->
        </div>
    </nav>
    <!-- End Navigation panel-->
</header>
<!-- ! header page-->
{% block body %}  {%  endblock %}
<!-- footer-->
<footer style="background-image: url('pic/footer/footer-bg.jpg')" class="footer footer-fixed">
    <div class="container">
        <div class="row pb-100 pb-md-40">
            <!-- widget footer-->
            <div class="col-md-6 col-sm-12 mb-sm-30">
                <div class="logo-soc clearfix">
                    <div class="footer-logo"><a href="/front/index-2.html"><img src="/front/img/logo-white.png"  alt></a></div>
                </div>
                <p class="color-g2 mt-10">Vestibulum tincidunt venenatis scelerisque. Proin quis enim lacinia, vehicula massa et, mollis urna. Proin nibh mauris, blandit vitae convallis at, tincidunt vel tellus. Praesent posuere nec lectus non.</p>
                <!-- social-->
                <div class="social-link dark"><a href="/front/#" class="cws-social fa fa-twitter"></a><a href="/front/#" class="cws-social fa fa-facebook"></a><a href="/front/#" class="cws-social fa fa-google-plus"></a><a href="/front/#" class="cws-social fa fa-linkedin"></a></div>
                <!-- ! social-->
            </div>
            <!-- ! widget footer-->
            <!-- widget footer-->
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="widget-footer">
                    <h4>Latest Tweets</h4>
                    <div class="twitter-footer align-left"></div>
                </div>
            </div>
            <!-- end widget footer-->
            <!-- widget footer-->
            <div class="col-md-3 col-sm-6">
                <div class="widget-footer">
                    <h4>Tag cloud</h4>
                    <div class="widget-tags-wrap"><a href="/front/#" rel="tag" class="tag">Adventure</a><a href="/front/#" rel="tag" class="tag">Romantic</a><a href="/front/#" rel="tag" class="tag">Wildlife</a><a href="/front/#" rel="tag" class="tag">Beach</a><a href="/front/#" rel="tag" class="tag">Honeymoon</a><a href="/front/#" rel="tag" class="tag">Island</a><a href="/front/#" rel="tag" class="tag">Parks</a><a href="/front/#" rel="tag" class="tag">Family</a><a href="/front/#" rel="tag" class="tag">Travel</a></div>
                </div>
            </div>
            <!-- end widget footer-->
        </div>
    </div>
    <!-- copyright-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>© Copyright 2016 <span>Suntour</span> &nbsp;&nbsp;|&nbsp;&nbsp; All Rights Reserved</p>
                </div>
                <div class="col-sm-6 text-right"><a href="/front/index-2.html" class="footer-nav">Home</a><a href="/front/page-about-us.html" class="footer-nav">Pages</a><a href="/front/hotels-search.html" class="footer-nav">Hotels</a><a href="/front/blog-grid.html" class="footer-nav">Blog</a><a href="/front/shop-grid.html" class="footer-nav">Shop</a><a href="/front/page-contact.html" class="footer-nav">Contacts</a></div>
            </div>
        </div>
    </div>
    <!-- end copyright-->
    <!-- scroll top-->
</footer>
<div id="scroll-top"><i class="fa fa-angle-up"></i></div>
<!-- ! footer-->
<!-- login popup-->
<div class="login-popup">
    <div class="login-popup-wrap">
        <div class="title-wrap">
            <h2>Login</h2><i class="close-button flaticon-close"></i>
        </div>
        <div class="login-content">
            <form class="form">
                <input type="text" name="email" value="" size="40" placeholder="Enter Your Email ..." aria-required="true" class="form-row form-row-first">
                <input type="text" name="password" value="" size="40" placeholder="Enter Your Password ..." aria-required="true" class="form-row form-row-last">
            </form>
            <div class="remember">
                <div class="checkbox">
                    <input id="checkbox30" type="checkbox" value="None" name="check">
                    <label for="checkbox30">Remember Me</label>
                </div><a href="/front/#">Forgot Password ?</a>
            </div><a href="/front/#" class="cws-button gray alt full-width mt-20">Login now</a>
        </div>
        <div class="login-bot">
            <p>No account yet? <a href="/front/#">Register now</a></p>
        </div>
    </div>
</div>
<!-- ! login popup-->
<!-- news popup-->
<div class="news-popup">
    <div class="news-popup-wrap"> <i class="close-button flaticon-close"></i>
        <div class="row">
            <div class="col-sm-6"><img src="/front/pic/news-popup.jpg"  alt></div>
            <div class="col-sm-6">
                <div class="news-content">
                    <div class="news-title">
                        <h2>Newsletter</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    </div>
                    <form method="get" action="#" class="newsletter contact-form">
                        <label class="mb-0">
                            <input type="text" placeholder="Enter Your Email ..." value="" name="email" class="newsletter-field mb-0">
                        </label>
                        <button type="submit" class="newsletter-submit cws-button alt">Submit</button>
                    </form>
                    <div class="checkbox-wrap">
                        <div class="checkbox">
                            <input id="checkbox40" type="checkbox" value="None" name="check">
                            <label for="checkbox40">Dont Show This Message Again</label>
                        </div>
                    </div>
                    <div class="social-wrap"><a href="/front/#" class="cws-social flaticon-social-4"></a><a href="/front/#" class="cws-social flaticon-social"></a><a href="/front/#" class="cws-social flaticon-social-3"></a><a href="/front/#" class="cws-social flaticon-social-1"></a><a href="/front/#" class="cws-social flaticon-social-network"></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ! news popup-->
<script src="/front/https://www.youtube.com/player_api"></script>
<script type="text/javascript" src="/front/js/jquery.min.js"></script>
<script type="text/javascript" src="/front/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/front/js/bootstrap.js"></script>
<script type="text/javascript" src="/front/js/owl.carousel.js"></script>
<script type="text/javascript" src="/front/js/jquery.sticky.js"></script>
<script type="text/javascript" src="/front/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/front/js/cws_parallax.js"></script>
<script type="text/javascript" src="/front/js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/front/js/jquery.fancybox-media.js"></script>
<script type="text/javascript" src="/front/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/front/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/front/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/front/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/front/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/front/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/front/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/front/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/front/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/front/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="/front/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/front/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/front/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/front/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/front/js/jquery.form.min.js"></script>
<script type="text/javascript" src="/front/js/script.js"></script>
<script type="text/javascript" src="/front/js/bg-video/cws_self_vimeo_bg.js"></script>
<script type="text/javascript" src="/front/js/bg-video/jquery.vimeo.api.min.js"></script>
<script type="text/javascript" src="/front/js/bg-video/cws_YT_bg.js"></script>
<script type="text/javascript" src="/front/js/jquery.tweet.js"></script>
<script type="text/javascript" src="/front/js/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="/front/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="/front/tuner/js/colorpicker.js"></script>
<script type="text/javascript" src="/front/tuner/js/scripts.js"></script>
<script type="text/javascript" src="/front/js/retina.min.js"></script>
</body>

<!-- Mirrored from html.cwsthemes.com/suntour/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Feb 2021 21:50:52 GMT -->
</html>